<h2>Sign up</h2>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="alert alert-warning">
    <%= devise_error_messages! %>
  </div>

  <div class="field">
    <%= f.label :login_id %><br />
    <%= f.text_field :login_id, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cc_number %><br />
    <%= f.text_field :cc_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cc_exp_date %><br />
    <%= f.text_field :cc_exp_date, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cvv %><br />
    <%= f.text_field :cvv, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,:class => 'btn-success' %>
  </div>
    <hr>
<% end %>

<%= render "devise/shared/links" %>
