<h1>Forgot your password?</h1>

<hr>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'for'=> 'forgot_pass_input'%><br />
    <%= f.email_field :email, autofocus: true , :id => 'forgot_pass_input' %>
  </div>


  <div class="actions">
    <%= f.submit "Send me reset password instructions", :class => 'btn-success', :id => 'forgot_pass_button' %>
  </div>
    <hr>
<% end %>

<%= render "devise/shared/links" %>
