<h1>Catalog</h1>
<hr>

<table class="table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Thumbnail</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Add</th>
  </tr>
  </thead>

  <tbody>
  <% @catalog_items.each do |catalog_item| %>
      <tr>
        <td><%= catalog_item.name %></td>
        <td><%= catalog_item.description %></td>
        <td><%= image_tag catalog_item.image.url(:thumb) %></td>
        <td><%= number_to_currency catalog_item.price_in_dollars %></td>
        <td><input type="number" name="quantity" min="1" max="99" aria-label="quantity"></td>
        <td><%= button_to "Add to Cart", add_to_cart_path(:catalog_item => catalog_item), :method => :post %></td>
      </tr>
  <% end %>
  </tbody>


</table>
<br>
<br>
<br>