<h1>My Shopping Cart</h1>
<hr>
<table class="table-hover">
  <thead>
  <tr>
    <th>Catalog Item</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Total Price</th>
  </tr>
  </thead>

  <tbody>
  <% @order_items.each do |oi| %>
      <tr>
        <td><%= io.name %></td>
        <td><%= io.quantity %></td>
        <td><%= io.unit_price %></td>
        <td><%= io.total_price %></td>
        <td><input type="number" name="quantity" min="1" max="99"></td>
      </tr>
  <% end %>
  <tr>
    <td>Total Cost</td>
    <td></td>
    <td></td>
    <td><%= @order_items.sum(:total_price) %></td>
  </tr>
  </tbody>


</table>
<br>
<div class="actions pull-right">
  <button class="btn-primary btn-add-cart">Continue Shopping</button>
  <button class="btn-primary btn-add-cart">Proceed to Checkout</button>
</div>
<br>
<br>