<h1>My Shopping Cart</h1>
<hr>
<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
  <% @order_item.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
  <% end %>
   </ul>
  </div>
<% end %>
<table class="table-hover">
  <thead>
  <tr>
    <th>Catalog Item</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Total Price</th>
  </tr>
  </thead>

	<tbody>
		<% if @order_items.nil? || @order_items.size == 0 %>
 <p class="text-center">
	     There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
			   </p>
			 <% else %>
  <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.catalog_item_id %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.unit_price %></td>
        <td><%= order_item.total_price %></td>
      </tr>
  <% end %>
  <tr>
    <td>Total Cost</td>
    <td></td>
    <td></td>
    <td><%= @order_items.sum(:total_price) %></td>
  </tr>
  <% end %>
  </tbody>


</table>
<br>
<div class="actions pull-right">
  <button class="btn-primary btn-add-cart"><%= link_to 'Continue Shopping', root_path %></button>
  <button class="btn-primary btn-add-cart">Proceed to Checkout</button>
</div>
<br>
<br>
