<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :id => 'login_email_field' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :id => 'login_password_field' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <div class="row">
        <div class="col-xs-1 no-padding-right"><%= f.check_box :remember_me,  :id => 'login_remember_me_checkbox' %></div>
        <div class="col-xs-11 padding-left-10"><%= f.label :remember_me %></div>
        </div>
    </div>
  <% end -%>


  <div class="actions ">
    <%=  f.submit "Log in", :class => 'btn-primary' , :id => 'login_submit_button' %>
  </div>
    <hr>
<% end %>

<%= render "devise/shared/links" %>
